*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #161A30;
}

.Up{
    position: fixed;
    display: none;
    bottom:28px;
    font-size: 25px;
    border: none;
    padding: 5px 10px;
    right: 20px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: red;
}

.Title {
    padding: 10px;
    margin: 5px 10px
}

.Title h1 {
    color: #DBCC95;
    text-shadow: 3px 3px 4px black;

}

.container {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #392467;
    margin: 20px auto 0 auto;
    width: 80%;
}

.content {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.208);
}

.content h4 {
    padding: 10px 0 10px;
    margin: 10px;
    color: #A367B1;
}

.content h4 span {
    padding: 10px 0 10px;
    margin: 10px;
}

.container textarea {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: #F3EEEA;
    color: rgba(0, 0, 0, 0.632);
    font-size: 1.2em;
    min-width: 96%;
    max-width: 96%;
    margin: 0px 2%;
    box-shadow: 3px 3px 6px -3px black;
    border-radius: 15px;
}

.container textarea:focus {
    outline: 2px solid black;
    border-radius: 15px;
}

.edit {
    background-color: #FFD1E3;
    padding: 6px;
    font-size: 1.2rem;
    min-height: 80px;
    border: none;
    min-width: 96%;
    max-width: 96%;
    margin-left: -11px;
    margin-top: 5px;
    box-shadow: 3px 3px 6px -3px black;
    border-radius: 15px;
}

.edit:focus {
    outline: 2px solid black;
    border-radius: 15px;
}

.container button {
    color: white;
    font-weight: bold;
    background-color:#092635;
    text-align: center;
    width: 96%;
    height: 35px;
    margin: 15px 2%;
    border-radius: 6px;
    cursor: pointer;
}

.added-notes {
    background-color: #A367B1;
    position: relative;
    right: 10%;
    width: 80%;
    margin: 5px 20%;
    border: 1px solid rgba(0, 0, 0, 0.208);
    border-radius: 15px;
    padding: 15px;
}

.added-notes-M{
    position: relative;
    right: 10%;
    overflow: hidden;
    background-color: #A367B1;
    padding: 5px;
    word-wrap: wrap;
    word-break:break-all;
    width: 80%;
    margin:15px 20% ;
    border: 1px solid rgba(0, 0, 0, 0.208);
    padding: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.added-notes-M h4 {
    margin-top: 0px;
}

.closebtn {
    position: absolute;
    top: 2%;
    right: 1%;
    cursor: pointer;
}

.editbtn {
    position: absolute;
    bottom: 40%;
    right: 1%;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 2px 5px;
}

.savebtn {
    font-size: 1.2rem;
    position: absolute;
    bottom: 5px;
    right: 1%;
    cursor: pointer;
    padding: 2px 3px;
}

.img1 {
    position: absolute;
    top: -25px;
    right: 20%;
    width: 250px;
    height: 250px;
}

@media (max-width:767px) {
    .img1 {
        display:none;
    }

    .edit {
        min-width: 90%;
        max-width: 90%;
    }

    .Up {
        padding: 5px 5px;
        font-size: 20px;
        right: 10px;
    }
    
    .editbtn {
        padding: 2px;
    }

    .savebtn {
        padding: 2px;
    }
}
